<div class="mt-4">
  <figure class="figure">
    <img src="" class="figure-img img-fluid rounded" alt="Biểu đồ kết quả dự đoán nhiệt độ độ ẩm">
    <figcaption class="figure-caption">Caption</figcaption>
  </figure>
</div>

<div class="mt-4">
  <a class="btn btn-primary" href="#" role="button">So sánh với số liệu thực tế</a>
</div>
